@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-dark: #161716;
  --color-secondary-dark: #0e0f0e;
  --color-primary-50: #80b5b3;
  --color-primary-100: #66a6a4;
  --color-primary-200: #4d9795;
  --color-primary-300: #338885;
  --color-primary-400: #1a7976;
  --color-primary-500: #006a67;
  --color-primary-600: #005f5d;
  --color-primary-700: #005552;
  --color-primary-800: #004a48;
  --color-primary-900: #00403e;
  --color-primary-950: #002a29;
}

body {
  font-family: "Nunito", sans-serif;
}
